<div class="container">
    <div class="jumbotron">
        <h1 class="text-center" id="main-header">
            <img id="bgr-img" src="/assets/img/burger.png">
            EAT-DA-BURGER
            <img id="bgr-img" src="/assets/img/burger.png">
        </h1>
    </div>

<!--ready to eat section -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-header text-center">
                <h2 id="sm-header">Ready to eat!!</h2>
                {{#each burgers}}
                    {{#unless devoured}}
                    <form action="burger/devour/{{id}}" method="POST">
                        <div class="input-group">
                            <li class="form-control">
                                {{id}}: {{burger_name}}
                            </li>

                            <span class="input-group-btn">
                                <button class="btn btn-warning dvr-btn" type="submit">
                                    Devour it!
                                </button>
                            </span>

                        </div>
                    </form>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

<!-- devoured section -->
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-header text-center">
                    <h2 id="sm-header">Devoured</h2> 
                     {{#each burgers}}
                        {{#if this.devoured}}
                        <div class="input-group">
                            <li class="form-control">
                                {{this.id}}:
                                {{this.burger_name}}
                            </li>
                        </div>
                          {{/if}}
                        {{/each}}
                </div>
            </div>

        </div>
    </div> <!-- end of row -->

</div>